<div style="width: 100%; height: 900px;">
    <div style="display: flex;">
        <div>
            <h4>{{ section.settings.title }}</h4>
            {{ section.settings.article }}
        </div>
        <div style="margin: 10px;">
            <img src="{{ section.settings.big_image | img_url: 'master' }}">
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Big image with text",
        "class": "big-image-text",
        "settings": [
            {
               "type": "image_picker",
               "id": "big_image",
               "label": "image"
            },
            {
              "type": "image_picker",
              "id": "background",
              "label": "background"
            },
            {
                "type": "text",
                "id": "title",
                "label": "title",
                "default": "title of article"
            },
            {
                "type": "richtext",
                "id": "article",
                "label": "article",
                "default": "<p>content of your article</p>"
            }
        ],
       "presets": [
            {
                "category": "presentation",
                "name":"Bigger image with text"
            }
        ]
    }
{% endschema %}