<div class="w-100 section-margin">
    <p style="position: relative; z-index:999; top:150px">
        <span style="right:95%;" class="post-arrow">&#139;</span>
        <span style="left:95%;" class="post-arrow">&#155;</span>
    </p>
    <section class="blog-section" style="margin-left: 60px;">
        {% for block in section.blocks %}
        <div class="post">
            <picture class="picture-padding">
                <img src="{{ block.settings.instagram_image | img_url: 'master' }}" alt="post">
            </picture>
            <div class=" post-fit-image h-100">
                <div class="post-info picture-padding vertical-align">
                    <div style="height: fit-content;">
                        <div class="flex-center w-100">
                            <p class="post-text source-sans-pro w-100"><span class="mdi mdi-heart-outline"></span>{{ block.settings.likes_number }}</p>
                            <p class="post-text source-sans-pro w-100"><span class="mdi mdi-comment-outline"></span>{{ block.settings.comments_number }}</p>
                        </div>
                        {{ block.settings.text_ig }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}      
    </section>
</div>

{% schema %}
    {
        "name": "social media carousel",
        "class": "instagram-post",
       "settings": [
            {
                "type": "range",
                "id": "col_num",
                "default": 5,
                "min": 2,
                "max": 6,
                "label": "Number of post"
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name": "instagram post",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "instagram_image",
                        "label": "instagram post"
                    },
                    {
                        "type": "textarea",
                        "id":"text_ig",
                        "label":"text",
                        "default": "<p class='post-text source-sans-pro w-100'>something</p>"
                    },
                    {
                        "type": "text",
                        "id":"likes_number",
                        "label":"likes",
                        "default": "0"
                    },
                    {
                        "type": "text",
                        "id":"comments_number",
                        "label":"comments",
                        "default": "0"
                    }
                ]
            }
        ],
       "presets": [
            {
                "category": "instagram",
                "name":"instagram posts galery"
            }
       ]
    }
{% endschema %}