<div style="height: 300px; background-color: #F8F8F8; position: relative; z-index: 999;" class="w-100">
    <div class="row py-5 px-5">
        {% for block in section.blocks %}
            <div class="w-100">
                <div class="py-5 px-4 w-100">
                    <h4>{{ block.settings.title }}</h4>
                    <br>
                    <p>{{ block.settings.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{{ 'slider.js' | asset_url | script_tag }}
{{ 'collection-carousel.js' | asset_url | script_tag }}

{% schema %}
    {
        "name": "new footer",
       "settings": [
           {
                "type": "range",
                "id": "col_num",
                "default": 3,
                "min": 2,
                "max": 4,
                "label": "Number of columns"
            }
       ],
        "blocks": [
            {
                "type": "text",
                "name": "navigator",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Description"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "text",
                        "default": "<p>some information</p>"
                    }
                ]
            }
        ]
    }
{% endschema %}