<div class="container">qqqqqqqqqqqqqqqqqqqqqqq</div>

{{ 'slider.js' | asset_url | script_tag }}
{{ 'collection-carousel.js' | asset_url | script_tag }}

{% schema %}
    {
        "name": "new footer",
        "blocks": [
            {
                "type": "link_list",
                "name": "navigator",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Quick Links"
                    },
                    {
                        "type": "link_list",
                        "id": "menu",
                        "label": "menu"
                    }
                ]
            }
        ]
    }
{% endschema %}