<div class="container">qqqqqqqqqqqqqqqqqqqqqqq</div>

{{ 'slider.js' | asset_url | script_tag }}
{{ 'collection-carousel.js' | asset_url | script_tag }}

{% schema %}
{
    "name": "New Header",
    "class": "new-header-np",
    "settings": [
      {
        "type": "link_list",
        "id": "main_menu_link_list",
        "label": "Navigation",
        "default": "main-menu"
      },
      {
        "type": "text",
        "id": "email_address",
        "label": "Email address",
        "default": "example@example.com"
      },
      {
        "type": "text",
        "id": "phone_number",
        "label": "Phone Number",
        "default": "+1 470-123-4567"
      },
      {
      "type": "image_picker",
        "id": "image",
        "label": "Logo"
      }
    ]
  }
{% endschema %}