<div style="height: 300px; background-color: #F8F8F8; position: relative; z-index: 999;" class="cien">
    {% for block in section.blocks %}
        <p>{{ block.settings.title }}</p>
        <p>{{ block.settings.text }}</p>
    {% endfor %}
</div>

{{ 'slider.js' | asset_url | script_tag }}
{{ 'collection-carousel.js' | asset_url | script_tag }}

{% schema %}
    {
        "name": "new footer",
       "settings": [
           {
                "type": "range",
                "id": "col_num",
                "default": 3,
                "min": 2,
                "max": 4,
                "label": "Number of columns"
            }
       ],
        "blocks": [
            {
                "type": "text",
                "name": "navigator",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Description"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "text",
                        "default": "<p>some information</p>"
                    }
                ]
            }
        ]
    }
{% endschema %}