<div class="w-100; section-margin; newsletter-container">
    <div style="position: relative; z-index: 1;" class="w-100">
        <h2 class="newsletter-first-text w-100 text-center source-sans-pro">{{ section.settings.first_frase }}</h2>
        <div style="padding-bottom: 40px;" class="w-100 text-center">
         {{ section.settings.big_text }}
        </div>
        <div class="flex-center w-100">
            <input class="newsletter-form email-newsletter-width" type="email" placeholder="Email">
            <a class="newsletter-form" href="#"><i class="fa-solid fa-angle-right"></i></a>
        </div>
    </div>
    <!-- <div style="position: relative; left:78%">
        <img src="{{ section.settings.adorno | img_url: 'master' }}" alt="adorno">
    </div> -->
</div>
{% schema %}
    {
        "name": "newsletter",
        "class": "newsletter-class",
        "settings": [
            {
               "type": "text",
               "id": "first_frase",
               "label": "Frase",
              "default": "Put your frase"
            },
            {
               "type": "textarea",
               "id": "big_text",
               "label": "text",
              "default": "<p class='pb-15'>put another frase to your newsletter</p>"
            },
            {
               "type": "image_picker",
               "id": "adorno",
               "label": "image"
            }
        ],
       "presets": [
            {
                "category": "Newsletter",
                "name":"New newsletter"
            }
       ]
    }
{% endschema %}