<div class="carousel-container">
    <h1>hola como estas</h1>
    <h1>hola como estas</h1>
    <h1>hola como estas</h1>
</div>
{% schema %}
    {
        "name": "Program slider",
        "class": "Programs",
        "settings": [
            {
            "type": "collection",
            "id": "Programs_available",
            "label": "Programs"
            },
            {
            "type": "text",
            "id": "title",
            "label": "title"
            }
        ],
       "presets": [
            {
                "category": "collection",
                "name":"Specific collection"
            }
       ]
    }
{% endschema %}