<div class="carousel-container" style="margin-left: 20px;">
    <div id="carousel-element" style="background-color:blueviolet; min-width:30%; height: 32vw; margin: 0 10px;"></div>
    <div id="carousel-element" style="background-color:blueviolet; min-width:30%; height: 32vw; margin: 0 10px;"></div>
    <div id="carousel-element" style="background-color:blueviolet; min-width:30%; height: 32vw; margin: 0 10px;"></div>
    <div id="carousel-element" style="background-color:blueviolet; min-width:30%; height: 32vw; margin: 0 10px;"></div>
    <div id="carousel-element" style="background-color:blueviolet; min-width:30%; height: 32vw; margin: 0 10px;"></div>
    <div id="carousel-element" style="background-color:blueviolet; min-width:30%; height: 32vw; margin: 0 10px;"></div>
    <div id="carousel-element" style="background-color:blueviolet; min-width:30%; height: 32vw; margin: 0 10px;"></div>
    <div id="carousel-element" style="background-color:blueviolet; min-width:30%; height: 32vw; margin: 0 10px;"></div>
    <div id="carousel-element" style="background-color:blueviolet; min-width:30%; height: 32vw; margin: 0 10px;"></div>
</div>
<span class="arrow">&#139;</span>
<span class="arrow">&#155;</span>
{% schema %}
    {
        "name": "Program slider",
        "class": "Programs",
        "settings": [
            {
            "type": "collection",
            "id": "Programs_available",
            "label": "Programs"
            },
            {
            "type": "text",
            "id": "title",
            "label": "title"
            }
        ],
       "presets": [
            {
                "category": "collection",
                "name":"Specific collection"
            }
       ]
    }
{% endschema %}