
.pinkbar {
    height: 50px; 
    width:100%; 
    background-color:#EDC0BD; 
    display: grid; 
    align-items: center;
}

.pinkbarcontent {
    display: flex;
    justify-content: right; 
    padding:0 2em 0 2em; 
}

.orderinfo {
    width:fit-content; 
    display: flex; 
}

.barfontconfig {
    color:#361E45; 
    font-weight: 600;
    padding-right: 1em; 
    padding-left: 1em;
}

.iconset {
    padding: 0 1em;
    height: fit-content;
}

p, a {
    margin-bottom: 0.1em !important; 
    color:#361E45 !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

h1 {
    color:#361E45 !important;
    font-family: 'Raleway', sans-serif;
}

li {
    font-size: 16px !important;
}
.grid {
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.contact-links {
    font-size: 14px; 
    font-family: 'Source Sans Pro', sans-serif; 
    text-decoration: none;
}

.navbar-position {
    position: absolute; 
    z-index: 999; 
    width: 100%;
}

.navbar-config {
    padding: 0 1rem; 
    text-decoration: none;
}

.icon-size {
    font-size:22px
}

.main-button {
    background-color: #4FD6C5;
    color: white !important;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    padding: 0.7em 1.2em;
    border-style: solid;
    border-width: 1px;
    border-color: #4FD6C5;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
    
}

.main-button:hover {
    background-color: white;
    color: #4FD6C5 !important;
}

.cien {
    width: 100%;
}

/* ################################################## Logo Slider ############################################### */

.contenedor {
    width: 100%;
    height: fit-content;
}

.carousel {
    background: #fff;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0 10px;
  
    position: relative;
}
.slider {
    display: flex;
    height: 100%;
    width: 500%;
    justify-content: center;
    transition: all 0.5s;
  
}
.item-container {
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
margin: 0 20px;
}
.controls button.next {
position: absolute;
right: 10px;
top: 50px;
background: none;
border: none;
cursor: pointer;
outline: none;
color: #361e45;
opacity: 0;
}
.controls button.prev {
position: absolute;
left: 10px;
top: 50px;
background: none;
border: none;
cursor: pointer;
outline: none;
color: #361E45;
opacity: 0;
}

button.prev:hover {
    opacity: 0.75;
}

button.next:hover {
    opacity: 0.75;
}

.controls button i {
font-size: 50px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.margin-slider-logo-section {
    margin: 60px 0;
}

/* ############################################################################################################ */

.static-logo-container {
    width: 100%;
    height: fit-content;
    margin: 0 4em;
}

.static-logo-dimensions {
    padding: 0.5em; 
    margin: 30px; 
    width: 180px; 
    height: 270px;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.good-references-text {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #361e45 !important;
    font-weight: 400;
    text-align: center;
}

.fit-content-y {
    height: fit-content;
}

.carousel-container {
    display: flex; 
    justify-content:left; 
    overflow-x:auto; 
    width: 100%;
}

.carousel-container::-webkit-scrollbar{
    visibility: hidden;
}

